body {
    font-family: Arial, sans-serif;
    background-color: #f49bd0c8;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: rgb(222, 161, 192);
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ff8ac8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  
  input[type="submit"] {
    background-color: rgba(255, 0, 140, 0.995);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #ff0278;
  }
  
  ol {
    margin-left: 20px;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  